.open{
  color: green;
  background: url('background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}


.stanza1 {
  font-size: 15px;
}






.spendtime {
  color: green;
  background: url('IMG/background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.connectAI {
  color: green;
  background: url('background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.connecthuman {
  color: green;
  background: url('background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.hateconnect {
  color: green;
  background: url('IMG/background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.hateignoreconnect {
  color: green;
  background: url('IMG/background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.ignore {
  color: green;
  background: url('IMG/background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.ignoreconnect {
  color: green;
  background: url('IMG/background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.ignorehate {
  color: green;
  background: url('IMG/background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.learnhate {
  color: green;
  background: url('IMG/background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.learnlove {
  color: green;
  background: url('IMG/background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.loveconnect {
  color: green;
  background: url('IMG/background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.loveconnecttime {
  color: green;
  background: url('IMG/background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.lovetime {
  color: green;
  background: url('IMG/background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.spendtime {
  color: green;
  background: url('IMG/background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.timeconnect {
  color: green;
  background: url('IMG/background2.gif') no-repeat center center fixed black;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}
